#per_week.push-5.span-3.btn.large_btn{ :data => {:link => result_path(:id => "per_week", :user => current_user.id)} }
  Results per week
#per_month.push-6.span-3.btn.large_btn{ :data => {:link => result_path(:id => "per_month", :user => current_user.id)} }
  Results per month
#all_the_time.push-7.span-3.btn.large_btn{ :data => {:link => result_path(:id => "all_the_time", :user => current_user.id)} }
  Results all the time
#result_info.span-12.push-5.clear.hide
  = get_result_print_info
#result_graph.span-24
  #result_content.span-12.push-6
  #select_date_gap.span-3.pull-2.last
#result_options.clear.right.hide
  = link_to "Send Results", email_results_path, :class => "btn"
  = link_to "Print Results", "#", :class => "btn", :id => "print_btn"
