<html>
  <body>
    Hello Doctor,

    <p> Below is the CCQ results for <%= @user.first_name %>. Copy the results token is <%= @user.results_token %> and retrieve it in link here.
    </p>
  </body>
</html>
